body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  height: 35vh;
  width: 99vw;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.role{
  padding: 1px 0px;
  font-size: large;
}
.mail{
  padding: 1px 0px;
}
.follow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  padding:2px 0px;
}
button{
  height: 6vh;
  width: 43vw;
  background-color: #6e8d99;
  color: white;
  border-style: none;
}
.main-content > p{
  font-family: 'Saira', sans-serif;
}